<!DOCTYPE html>
<html>
  <head>
    <title>Flixter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="http://vjs.zencdn.net/6.6.3/video-js.css" rel="stylesheet">
  </head>

  <body>
      <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%=link_to 'FLIXTER', root_path, class: 'navbar-brand' %>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <%=link_to 'Home', root_path, class: 'nav-item nav-link active' %><span class="sr-only">(current)</span>
            <%=link_to 'See All Courses', courses_path, class: 'nav-item nav-link' %>
              <% if user_signed_in? %>
                <%=link_to 'My Dashboard', dashboard_path, class: 'nav-item nav-link' %>
                <%=link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-item nav-link' %>
              <% else%>
                <%=link_to 'Sign Up', new_user_registration_path, class: 'nav-item nav-link' %>
                <%=link_to 'Log In', new_user_session_path, class: 'nav-item nav-link' %>
              <% end %>
          </div>
        </div>
      </nav>


      <% if notice.present? %>
        <p class="alert alert-info"><%=notice %></p>
      <% end %>

      <% if alert.present? %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>


    <%= yield %>

    <div id="footer">
      <div class="container text-center">
      <br/>
        <div class="row">
          <div class="col-12 col-sm-3">
            <b>Teachers</b>
            <br/>
            <%= link_to 'Teach a Course', new_instructor_course_path %>
            <br/>
            <%=link_to 'View Dashboard', dashboard_path %>
          </div>

          <div class="col-12 col-sm-3">
            <b> About</b>
            <br/>
            <%=link_to 'Team', team_path %>
            <br/>
            <%= link_to 'Careers', careers_path %>
            <br/>
            <%= link_to 'Privacy Policy', privacy_path %>
          </div>

          <div class="col-12 col-sm-3">
            <b> Contact </b>
            <br/>
            <%=link_to 'Linda Ogbevoen', 'https://github.com/Linda091' %>
          </div>

          <div class="col-12 col-sm-3 social">
            <b> Social </b>
            <br/>
            <%= link_to 'https://github.com/Linda091/' do %>
              <span class="fa fa-github-square fa-2x social-button"></span>
            <% end %>
            <%= link_to 'https://www.linkedin.com/in/lindaogbevoen/' do %>
              <span class="fa fa-linkedin-square fa-2x social-button"></span>
            <% end %>
            <%= link_to 'https://www.twitter.com/iamlinda91' do %>
              <span class="fa fa-twitter-square fa-2x social-button"></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <script src="http://vjs.zencdn.net/5.12.6/video.js"></script>
    <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  </body>
</html>
